<!DOCTYPE html>
<html>
<head>
  <title>Verifikasi Email</title>
</head>
<body>
  <h1>Halo!</h1>
  <p>Terima kasih telah mendaftar. Silakan klik tautan di bawah ini untuk memverifikasi email Anda:</p>
  <a href="{{verification_token}}">Verifikasi Email</a>
</body>
</html>